body {
    background-color: #1f2e2e;
}

header {
    height: 115px;
    margin-top: 5vh;
    background-image: url(snake-game-clone.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}

#scena {
    background-color: #96C300;
    height: 500px;
    position: relative;
    width: 500px;
    margin-top: 5vh;
    margin-left: 33.3%;
    border: solid 5px #fff;
}

.pixel-scena {
    height: 10px;
    position: absolute;
    width: 10px;
}

.segment-snake {

    background-image: url(snake2.png);
}

.munchie {
    background-image: url(munchie.png);
    background-repeat: no-repeat;

}
